@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-nice-scroll/dist/styles.css';
@import './fonts';
@import './loco';
@import './components';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  @apply bg-dark text-light;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
